.typography p, .typography ul, .typography ol, .typography li{
    font-style: normal;
    margin-bottom: 20px;
}

.typography h1 {
    color: #444444;
    margin-bottom: 20px;
}

.typography h2 {
    font-size: 32px;
    margin-bottom: 20px;
}

.typography h3 {
    font-size: 24px;
    margin-bottom: 20px;
}

.typography h4 {
    font-size: 17px;
    margin-bottom: 20px;
}

.typography li {
    list-style-type: disc;
    margin-left: 20px;
    margin-bottom: 20px;
}

.typography table {
    margin-bottom: 20px;
}
